<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono" rel="stylesheet"
      type="text/css">
<link rel="stylesheet" type="text/css" href="{{ "/static/app.css" | versioned_asset }}">

{% if title %}
<title>{{ title }} | Erik Westlund</title>
{% else %}
<title>Erik Westlund</title>
{% endif %}

<meta property="og:title" content="{{ title or "Erik Westlund" }}" />
<meta property="og:type" content="{{ og_type or "website"}}" />
{% if og_type == "article" and og_type_published %}<meta property="article:published_time" content="{{ og_type_published }}" />{% endif %}
{% if og_type == "article" and og_type_modified %}<meta property="article:modified_time" content="{{ og_type_modified }}" />{% endif %}
{% if og_type == "article" and og_type_author %}<meta property="article:author" content="{{ og_type_author }}" />{% endif %}
{% if og_type == "article" and og_type_tag %}<meta property="article:tag" content="{{ og_type_tag }}" />{% endif %}


{#{% if current_url %}<meta property="og:url" content="{{ current_url }}" />{% endif %}#}

{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% elif state.settings.images.site_default %}
<meta property="og:image" content="{{ state.settings.images.site_default }}" />
{%  endif %}

<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<script>
    window.State =
    {{  state|tojson|safe }}
</script>
</head>
<body class="pb-12 border-t-8 border-blue-darker bg-grey-lightest">
<div id="app" class="lg:px-24 p-6">
<header class="container mx-auto">
    <navigation-bar class="mt-12"
                    :loggedIn="{{ 1 if current_user.is_authenticated else 0 }}"
    ></navigation-bar>
</header>
<main role="main" class="container mx-auto pt-12">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <alert category="{{ category }}" important>
                        {{ message }}
                    </alert>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="mt-8">
            {% block main %}
                {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </div>
</main>

<flash initial-message=""
       initial-level="{{ 'success' }}"
       :initial-duration="3"
></flash>
</div>


<!-- JavaScript -->
<script src="{{ "/static/manifest.js" | versioned_asset }}"></script>
<script src="{{ "/static/vendor.js" | versioned_asset }}"></script>
<script src="{{ "/static/app.js" | versioned_asset }}"></script>

</body>
</html>