{% extends "main/layout.html" %}
{% block content %}

    <h1>
        <fa-icon class="mr-2" :icon="['far', 'user']"></fa-icon>
        {{ user.username }}'s Account
    </h1>

    {% if not user.email_confirmed %}
        <confirm-email-alert class="mt-6"></confirm-email-alert>
    {% endif %}
    <div class="mt-6">
        <update-user :init-user="{{ state.user.account|safe }}"></update-user>
    </div>

{% endblock content %}
<script>
    import ConfirmEmailAlert from "../../../resources/js/components/users/ConfirmEmailAlert";
    export default {
        components: {ConfirmEmailAlert}
    }
</script>