{% extends "main/layout.html" %}
{% block content %}
    <h1>
        {{ post.title }}
    </h1>
    <div class="md:flex mt-4 p-1">
        <div class="text-grey-darkest text-lg">
            <fa-icon class="mr-2 text-grey" :icon="['fas', 'user-circle']"></fa-icon>
            {{  post.user.display_name }}
        </div>
        <div class="md:ml-5 mt-3 md:mt-0 text-grey-dark">
            {{  post.published_at_display }}
        </div>
    </div>
    <div class="mt-6 bg-white shadow p-6 rounded w-100 text-lg">
        {{ post.body | markdown | safe }}
    </div>
{% endblock content %}
