{% extends "main/layout.html" %}
    {% block content %}
    <div class="wrapper flex flex-wrap min-h-screen leading-normal">
        <main class="w-full lg:w-3/5 flex-no-shrink pr-4">
            {% for post in posts %}
            <article>
                <div class="border border-grey-light p-4 mb-2 rounded">
                    <div class="">
                        <a class="" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h2><a class="" href="#">{{ post.title }}</a></h2>
                    <p class="">{{ post.content }}</p>
                </div>
            </article>
            {% endfor %}
        </main>

        <aside class="w-full lg:w-2/5 bg-grey-dark flex-no-shrink text-white p-8 rounded">
            <h2 class="mb-4">Email Me</h2>
            <p>
                <a href="mailto:edbwestlund@gmail.com">edbwestlund@gmail.com</a>
            </p>
        </aside>
    </div>

    {% endblock content %}