@tailwind preflight;
@tailwind components;

@import 'transitions';
@import 'headings';
@import 'tables';
@import 'lists';
@import 'colors';
@import 'forms';
@import 'buttons';
@import 'alerts';
@import 'component-tags';

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #462a16;
}

a {
  color: $blue-darker;
  text-decoration: none;
}

a:hover {
  color: $blue-dark;
  text-decoration: none;
}

p:first-child {
  @apply mt-0;
}
p {
  @apply mt-8;
}

blockquote {
  @apply px-4 mt-8 border-l-2 border-grey-light text-grey-dark;
}


@tailwind utilities;
