@tailwind preflight;
@tailwind components;

@import 'transitions';
@import 'headings';
@import 'tables';
@import 'colors';
@import 'forms';
@import 'buttons';
@import 'alerts';

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: $blue-dark;
  text-decoration: none;
}

a:hover {
  color: $blue-darker;
  text-decoration: none;
}


@tailwind utilities;
